.galleryPage {
    background-image: url('./bg/1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-dark);
}

.galleryContainer{
    width: 40em;
    height: 30em;
    border: solid var(--white-light) 2px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(227, 223, 223, 0.40);
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}


/* Dark Mode */
.galleryPage-dark{
    background-image: url('./bg/2.jpg');
    color: var(--white-light) !important ;
}

.galleryContainer-dark{
    border: solid var(--black-dark) 2px !important;
    background: rgba(34, 33, 39, 0.40) !important;
}