* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* light mode */
  --white-light: #F0F0F0;

  /* dark mode */
  --black-dark: #222127;
}

button{
  position: absolute;
  top: 20em;
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1em;
  width: 10em;
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 10px;
  border: solid var(--white-light) 2px;
  color: var(--white-light);
  background: var(--black-dark);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
  transform: scale(1.1);
  
}

button:active{
  border: solid var(--black-dark) 2px;
  color: var(--black-dark);
  background: var(--white-light);
}

.button-dark{
  border: solid var(--black-dark) 2px;
  color: var(--black-dark);
  background: var(--white-light);
}

.button-dark:active{
  border: solid var(--white-light) 2px;
  color: var(--white-light);
  background: var(--black-dark);
}

input:focus {
  border: none; 
  outline: none; 
}